$color-primary: #90330a;
$color-secondary: #edcc90;
$color-accent: #c69c45;
$color-alert: #ed4242;

$background-color: #ebebeb;

//OTHER COLOR
$color-grey-dark: #a3a3a3;
$color-dark: #494949;
$color-facebook: #3b5998;
$color-instagram: rgb(224, 53, 102);
$color-linkedin: #0a65c2;

$color-white: #fff;
$color-black: #2e2e2e;

$color-outline: #c4c4c4;

//GRID
$grid-width: 114rem;

//FONT SIZES
$default-font-size: 1.6rem;

//BORDER RADIUS
$border-radius: 0.5rem;
