@import '../abstract/variables';
@import '../abstract/mixins';

.menu-overview {
  background-color: $color-primary;
  padding: 10rem 0 15rem 0;
	@media (max-width: 600px) {
    padding: 10rem 0 5rem 0;
  }

  &__image {
    width: 35rem;
    height: 35rem;
    object-fit: cover;

		@media (max-width: 1000px) {
			aspect-ratio: 4/3;
			height: 30rem;
			width: auto;
			margin: 2rem 0;
		}
  }

  .title-white {
    position: relative;
    margin-bottom: 3rem;
    color: $color-white;
  }

  .section {
    display: flex;
  }
  ul.menu-overview__option {
    color: $color-white;
    list-style: none;
    margin-top: 3rem;

    li {
      margin: 1.5rem 0;
      text-align: center;
    }
    li > a {
      text-decoration: none;

      &:hover {
        color: $color-secondary;
        transition: color 0.2s;
      }
    }
  }
}
