@import '../abstract/variables';

.section-gallery {
  margin: 15rem 0;

  .gallery {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width: 900px) {
      flex-wrap: wrap;
    }
    &__image {
      & img {
        width: 100%;
      }

      @media (max-width: 900px) {
        width: 48%;
        margin: 1%;
      }
      @media (min-width: 901px) {
        &:nth-child(3) {
          margin: 0 1%;
        }
        &:nth-child(4) {
          margin-right: 1%;
        }
      }
    }

    .button-gallery {
      background-color: $color-primary;
      position: absolute;
      color: $color-white;
      font-size: 2rem;
      border: none;
      padding: 3rem 6rem;
      text-decoration: none;
      right: 0;
      top: -40px;
      @media (max-width: 600px) {
        font-size: 1.5rem;
        padding: 2rem 5rem;
        top: -30px;
      }
      &:hover {
        background-color: #7c2a07;
        transition: background-color 0.2s;
      }
    }
  }
}
