@import '../abstract/variables';
@import '../abstract/mixins';

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2;
	padding: 7rem 0;
	  @include respond(tab-port) {
		  padding: 2rem 0;
	  }

	.main-nav {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  border-bottom: 2px solid $color-white;
	  padding: 0 2rem;
	  @include respond(tab-port) {
		border-bottom: 0;
	  }

	  ul.static-menu {
		display: flex;
		list-style: none;
		margin-bottom: -1rem;
		@include respond(tab-port) {
		  display: none;
		}

		li {
		  margin: 0 3rem;
		  justify-content: space-between;
		  align-content: flex-end;

		  a {
			text-decoration: none;
			color: $color-white;
			border-bottom: 2px solid transparent;
			&:hover,
			&.active {
			  color: $color-secondary;
			  transition: all ease-out 0.2s;
			}
		  }
		  &:last-child {
			margin-left: 3rem;
			margin-right: 0;
		  }
		}
	  }

	  @include respond(tab-port) {
		&__logo {
		  z-index: 3;

		  & SVG {
			width: 10rem;
			height: 100%;
		  }
		}
	  }
	}
  }
