body {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading {
  color: var(--text);
  font-family: 'American Typewriter';
  font-weight: 400;
  &__primary {
    font-size: 6rem;
    @include respond(phone) {
      font-size: 4rem;
    }
  }
  &__secondary {
    font-size: 4.5rem;
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }
  &__tertiary {
    font-size: 3rem;
  }
  &__quaternary {
    font-size: 2.4rem;
    @include respond(phone) {
      font-size: 1.9rem;
    }
  }
  &__background {
    font-size: 11rem;
    font-weight: 600;
    position: absolute;
    color: rgba(0, 0, 0, 0.03);
    text-align: center;
    z-index: -1;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0%;
    width: 100%;
    @media (max-width: 1024px) {
      font-size: 7rem;
    }
    @include respond(phone) {
      display: none;
    }
  }
  &__background-white {
    font-size: 11rem;
    font-weight: 600;
    position: absolute;
    color: rgba(255, 255, 255, 0.03);
    text-align: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 0%;
    width: 100%;
    @media (max-width: 1024px) {
      font-size: 7rem;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}

.body-text-intro {
  font-size: 2.4rem;
  @include respond(phone) {
    font-size: 2rem;
  }
}

.body-text-main {
  font-size: 2rem;
  @include respond(phone) {
    font-size: 1.8rem;
  }
}

.medium-text {
  font-size: 1.7rem;
}

.caption-text {
  font-size: 1.5rem;
}

.small-text {
  font-size: 1.2rem;
}
