@font-face {
	font-family: 'Nunito';
	font-weight: 400;
	src: url('../assets/fonts/Nunito-Regular.ttf') format('truetype');
  }
  @font-face {
	font-family: 'American Typewriter';
	font-weight: 400;
	src: url('../assets/fonts/AmericanTypewriter-01.ttf') format('truetype');
  }
  @font-face {
	font-family: 'American Typewriter';
	font-weight: 600;
	src: url('../assets/fonts/AmericanTypewriter-Semibold-04.ttf') format('truetype');
  }
