.gallery {
	margin: 3rem 0 5rem 0;
	h1 {
	  text-align: center;
	}
	&__images {
	  margin-top: 5rem;
	  display: grid;
	  grid-gap: 2.4rem;
	  grid-template-columns: 1fr 1fr 1fr 1fr;
	  grid-template-rows: 1fr 1fr 1fr;
	  justify-items: center;
	  justify-content: space-between;
	  @media (max-width: 1000px) {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	  }
	  @media (max-width: 800px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
		width: 90%;
		margin: 5rem auto 0 auto;
	  }
	  @media (max-width: 600px) {
		width: auto;
	  }

	  img {
		height: 24rem;
		width: 25rem;
		object-fit: cover;
		@media (max-width: 600px) {
		  width: 100%;
		  aspect-ratio: 3/2;
		  height: auto;
		}
	  }
	}
  }
